body {
  margin: 0;
  background: linear-gradient(#1e152e, #161616);
  font-family: "Roboto", sans-serif;
  color: #d6dfed;
  height: 100vh;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}



/* html{
  height: 100vh;
} */

#root {
  box-sizing: border-box;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.homePage, .aboutMePage, .musicPage, .footPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Add this line */
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 6em;
  font-weight: 500;
  height: 1em;
  margin-top: 100%;
  padding: 20px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffd2);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbc4);
}

.tagline {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 100%;
  color: rgba(255, 255, 255, 0.87);
}


hr, .lineSeperator { 
  width: 45%; 
  height:1px; 
  margin-top: 5%;
  background: #fff 
}

.aboutMePfp{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border-color: white;
  /* box-shadow: 0 0 10em #646cff30; */
}

.aboutMePfp:hover{
  scale: 1.05;
  box-shadow: 0 0 10em #646cff30;
  transition: box-shadow, scale 0.75s;
}

.lineSeperator:after { 
  width:45%; 
  height:1px; 
  background: #fff; 
  content:"";
}

.aboutMeText{
  font-size: 1.25em;
  font-weight: 300;
  width: 45%;
  color: rgba(255, 255, 255, 0.87);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}