.card-cover{
    border: none;
    border-radius: 10px;
    height: 40vh;
    width: 26vw;
    margin: 1em;

}

.card-cover:hover{
    /* scale: 0.95 ; */
    box-shadow: 0 0 1em 0.5em rgba(191, 70, 239, 0.308);
    transition: box-shadow .65s;
    cursor: pointer;
}

iframe{
    border: none;
    border-radius: 10px;
}