body {
  margin: 0;
  background: linear-gradient(#1e152e, #161616);
  font-family: "Roboto", sans-serif;
  color: #d6dfed;
  height: 100vh;

}

html{
  height: 100vh;
}

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.homePage, .aboutMePage, .musicPage, .footPage {
  width: 100%;
  height: 100vh; /* Set each slide to occupy the full viewport height */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.aboutMePage, .musicPage, .footPage {
  background-color: #161616;
}

.logo {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 6em;
  font-weight: 500;
  height: 1em;
  margin: 5em 20px 20px;
  padding: 20px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffd2);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbc4);
}

.tagline {
  font-size: 1.25em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.87);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}